/* General container styles for additional content */
.additional-container-fluid {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

/* News cards layout */
.news-cards-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* General styles for individual news cards */
.news-card-2 {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0.5rem;
    overflow: hidden;
    color: #000;
    flex: 0 1 22%;
    border: none;
    margin: 0.5rem;
}

/* Styles for the images within news cards */
.news-image-2 {
    width: 5rem; /* Fixed width for circle shape */
    height: 5rem; /* Fixed height for circle shape */
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

/* News content positioning */
.news-content-2 {
    position: relative;
    text-align: left;
    color: #000;
    padding-left: 1rem;

}

/* Headline styles */
.news-card-2 h3 {
    margin: 0.8rem;
    font-size: 0.6rem;
}

/* Paragraph styles within news cards */
.news-card-2 p {
    margin: 0;
    font-size: 0.75rem;
    color: #000;
}

/* Specific styles for each card */
.card-5, .card-6, .card-7, .card-8 {
    height: 6.25rem; /* Uniform height for all cards */
}

/* Media query for small and medium screens */
@media (max-width: 768px) {
    .news-card-2 {
        flex: 0 0 100%; /* Make the cards stack on top of each other */
    }
}