/* Add the following CSS to your styles/styles.css file */

.banner {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    max-width: 50%;
}

.card-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.card {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0em;
    border-top: .10em solid black;
}

@media (max-width: 550px) {
    .card-container {
        display: none;
    }
}

.card h6 {
    margin-bottom: 10px;
}

.card p {
    margin: 0;
    display: flex;
    align-items: left;
    justify-content: left;
}

.btn-round {
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    border-color: #ff4444;
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-round:hover {
    background: #ff0000;
}
