/* Container for the newsletter form */
.newsletter-container {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-inner-container {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.newsletter-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.newsletter-form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 100%; 
    text-align: center;
}

.newsletter-btn-primary {
    background-color: black;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    color: white;
}

.newsletter-btn-primary:hover {
    background-color: #0056b3;
}

.newsletter-form-check {
    margin-bottom: 15px;
    text-align: left;
}

.newsletter-form-check-label {
    color: #666;
}
