.banner-3 {
        position: relative; /* Needed to position the text over the image */
        height: 600px; /* Set the desired height for the banner */
        overflow: hidden; /* Ensure the image doesn't overflow the banner */
}

.banner-image-3 {
    width: 100%; /* Make the image full width */
    height: 75%; /* Scale the height to the banner's height */
    object-fit: cover; /* Maintain the aspect ratio and cover the banner area */
    padding: 20px;
}
