/* Styles for the third banner */
.banner-3 {
    background-color: #282c34; /* Adjust the background color as needed */
    padding: 20px;
}

.banner-image-3 {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.banner-text-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white; /* Text color */
}

.banner-text-3 h1, .banner-text-3 p {
    margin: 0;
    text-align: left;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .banner-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .banner-text-3 {
        align-items: center;
        text-align: center;
    }
}
